
@{
    ViewBag.Title = "ShowCTDonHangByTenDN";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@using DoAnLAPTRINHWEB_Nhom15.Areas.Admin.Models;
@model List<ChiTietDonHang>

<style>
    div .product {
        display: flex;
        text-align: center;
    }

    .form_search_product {
        width: 15rem;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        margin-right: 20px;
        border-radius: 5px;
    }

        .form_search_product input {
            border: 1px solid black;
            width: 10rem;
            border-radius: 5px;
            height: 2.5rem;
        }

    .tb {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .cnsp a {
        text-decoration: none;
        color: #fff;
    }



    .tb td {
        width: 20rem;
    }

    center {
        padding-top: 20px;
    }

        center p {
            text-transform: uppercase;
            color: blue;
            border-bottom: 2px solid black;
        }

    .btn_TC {
        width: 4rem;
        text-align: center;
        border: none;
    }

        .btn_TC a {
            color: #fff;
            text-decoration: none;
        }

    .btn_delete {
        background: #d01919;
        color: #fff;
        border-radius: 5px;
    }

        .btn_delete:hover {
            background: red;
        }

    .btn_edit {
        background: #1b2f9d;
        color: #fff;
        border-radius: 5px;
    }

        .btn_edit:hover {
            background: blue;
        }
    .textitem th
    {
        text-align:center;
    }
</style>
<div style="margin-left:2rem;">
    <h2 style="text-align:center">THÔNG TIN CHI TIẾT ĐƠN HÀNG</h2>
    <button class="btn btn-primary cnsp"><a href="/HomePage/ShowDonHangByTenDN?TenDN=@Session["User"].ToString()">Quay lại</a></button><br /><br />
    <div class="product">

        <table class="table table-bordered table-responsive tb">
            <tr class="textitem" >
                <th>Tên Sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Số Lượng</th>
                <th>Tổng Tiền</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TenDN</td>
                    <td><a href="/HomePage/HomeDetail?masp=@item.MaSanPham"> <img src="~/Areas/Admin/Content/img/IMG_Product/IMG_Product1/@item.HoTen" class="img_content" /></a>
                    </td>
                    <td>@item.SoLuong</td>
                    <td style="text-align:center">@item.ThanhTien VNĐ</td>
                </tr>
            }
        </table>
    </div>
</div>
